body {
    margin: 0;
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fa95ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 200px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
}

.tasti {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #ffcefa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}